@font-face {
    font-family: "kufam";
    src: url("../../fonts/Kufam-VariableFont_wght.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
$arabic-font :  'Kufam', sans-serif;
 
$english-font : 'inter'
// size 
