 .text-circle{
    position: relative;
    display: flex;
    justify-content: center;
    // align-items: center;
    min-height: 180px;
    svg{
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -80%);
        transform-style: preserve-3d;
        animation: upDown 3s linear infinite alternate;
        }
    .animat_circle{
        transform-style: preserve-3d;
        animation: animate 8s linear infinite;
        --deg: calc(850deg / var(--numchs));

    span{
        color: var(--main-gray);
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        font-size: 5vw;
        /* padding: 5px 12px;
        border: 4px solid black; */
        transform-style: preserve-3d;
        transform-origin: center;
            transform: rotateY(calc(var(--char-index) * var(--deg))) translateZ(165px);
    }
   
    }
 }  
 @keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(-360deg) rotateX(15deg);
    }

    100% {
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
    }
}

@keyframes upDown{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(60px);
    }
}