.header{
    // width: 100%;
    // max-height: 74vh;
    margin-right: 5vw ;
    margin-top: 25px;   
    font-size: 11vw ;
    direction: rtl;
    &_title{
        width: 100%;
        text-align: right;
        font-weight: lighter;

    }
    .title__white{
        color: var(--main-white);
        .title__gray{
            color:var(--dark-gray) ;
        }
        .title__oringe{
            color : var(--main-orange)
        }
    }
}

@media (min-width: $tablet) {
    .header{
        font-size: 7vw;
    }
}