
// landpage layout 
.landpage-layout{
    width: 100%;
    direction: ltr;
}
// navbar layout
.nav{       
    width: 100%;
    direction: ltr;
   &_container{
       width: 100%;
      
    
       &_layout{
        padding : 1.6rem 0.6rem 2.6rem 0.6rem;
        display: grid;
        border-bottom: 1px solid var(--main-gray);
        grid-template-columns: 1fr 2fr 1fr;
        height: var(--top_nav);
        justify-items: center;
       
        // background-color: aliceblue;
        
    }
    @media (min-width: $tablet) {
        &_layout{
            --top_nav : 160px ;
            padding : 2.6rem 2.6rem 3.6rem 2.6rem;
            height: var(--top_nav);
        }
    }
   }
}

.main{
    
    --arrow-with:80px; 
    display: grid;
    grid-template-columns: 1fr ;
    .title{
        font-size: 4vw;
        margin: 3.6rem 0px;
    }
.resent-contaner{
    direction: rtl;
    width: 85%;
    min-height: 90vh ;
    margin: 16vh auto;
    .resent-blogs{
        // padding: 2% ;
        display: flex;
        flex-direction: column;
        &_head{
            height: 60vh;
            // background: yellow;
        }
        &_other{

            max-height: 60vh;
            background-color: red;
            overflow: hidden;
            display: grid ;
            grid-template-columns: 1fr 1fr;
            column-gap: 12px;
            margin-top: 5em ;
        }
        
    }
}


    @media (min-width: $tablet) {
        .resent-blogs{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            overflow: hidden;
            //  margin:1.3rem 20px;
            padding: 6% ;
            &_head{
                flex: 2rem;
            }
            &_other{
                flex: 1fr;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            
        }
        .blog{
            margin: 0px;
            height: 100%;
            // padding: 1.7rem;
        }
    }
}
@media (min-width: $tablet) {
    .main{
        grid-template-columns: 1fr 8fr;
    }
}
